<%- include('partials/header') -%>
<main>
    <section class="task-list">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <h2><%= user.name %>'s Task List</h2>
                <!-- bootstrap accordion -->
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <% projects.forEach((project, index) => { %>
                        <% const projectTasks = tasks.filter(task => task.projectId && task.projectId._id.toString() === project._id.toString()); %>
                        <% if(projectTasks.length > 0) { %>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                                        <strong><%= project.title %></strong>
                                    </button>
                                </h2>
                                <div id="collapse<%= index %>" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <p><%= project.description %></p>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Task Title</th>
                                                    <th>Created By</th>
                                                    <th>Priority</th>
                                                    <th>Due Date</th>
                                                    <th>Complete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% projectTasks.forEach((task, taskIndex) => { %>
                                                <tr>
                                                    <td>
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task-desc-<%= index %>-<%= taskIndex %>" aria-expanded="false" aria-controls="task-desc-<%= index %>-<%= taskIndex %>">
                                                            <strong><%= task.title %></strong>
                                                        </button>
                                                    </td>

                                                    <td><%= task.createdBy.name %></td>
                                                    <td><%= task.priority %></td>
                                                    <td><%= task.dueDate.toLocaleDateString('en-US') %></td>
                                                    <td><input type="checkbox" name="complete"></td>
                                                </tr>
                                                <tr id="task-desc-<%= index %>-<%= taskIndex %>" class="accordion-collapse collapse">
                                                    <td colspan="5">
                                                        <div class="accordion-body">
                                                            <form  id="updated-description-form" action="/schedule/updateTaskDesc" method="POST">
                                                                <p  class="task" id="current-description"><%= task.description %></p>
                                                                <textarea class="task-input" name="description" style="display: none;" value="<%= task.id %>"><%= task.description %></textarea>
                                                                <button class="edit-button w-20 mb-2 btn btn-sm rounded-3 bg-info" style="color:white; display: block;" type="submit">Add Notes</button>
                                                                <button class="save-button w-20 mb-2 btn btn-sm rounded-3 bg-info" style="color:white; display: none;" type="submit">Save</button>
                                                                <button class="exit-button w-20 mb-2 btn btn-sm rounded-3 bg-info" style="color:white; display: none;" type="submit">Exit</button>
                                                            </form>
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>


    <section id="all-projects">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <h2>List of all Open Projects</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Task</th>
                            <th>Assigned To</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < allTasks.length; i++){ %>
                            <tr>
                                <td><%= allTasks[i].projectId.title %></td>
                                <td><%= allTasks[i].title %></td>
                                <td><%= allTasks[i].assignedTo.name %></td>
                                <td><%= allTasks[i].dueDate.toLocaleDateString('en-US') %></td>
                            </tr>
                        <% } %>
                    </tbody>

                </table>
            </div>
        </div>
    </section>

    <!-- bootstrap modal for adding a project and creating a task -->
    <div id="add-project" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow create-project">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Add a New Project</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                <form action="/schedule/createProject" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3 pt-3" id="title" name="title" placeholder="Project Title">
                        <label for="title" class="form-label">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control rounded-3 pt-3" id="description" name="description"></textarea>
                        <label for="description" class="form-label">Description</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 bg-info" style="color:white" type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
      </div>

      <div id="add-task" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow create-task">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Add a New Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                <form action="/schedule/createTask" method="POST">
                    <div class="form-floating mb-3">
                        <select class="form-control rounded-3 pt-3" id="projectId" name="projectId">
                            <option label=" "></option>
                            <% for(let i = 0; i < projects.length; i++){ %>
                                <option value="<%= projects[i]._id %>"><%= projects[i].title %></option>
                            <% } %>
                        </select>
                        <label for="projectId" class="form-label">Project</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control rounded-3 pt-3" id="title" name="title"></input>
                        <label for="title" class="form-label">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control rounded-3 pt-3" id="description" name="description"></textarea>
                        <label for="description" class="form-label">Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control rounded-3 pt-3" id="assignedTo" name="assignedTo">
                            <option label=" "></option>
                            <% for(let i = 0; i < users.length; i++){ %>
                                <option value="<%= users[i]._id %>"><%= users[i].name %></option>
                            <% } %>
                        </select>
                        <label for="assignedTo" class="form-label">Assigned To</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control rounded-3 pt-3" id="priority" name="priority">
                            <option value="low">Low</option>
                            <option value="medium" selected>Medium</option>
                            <option value="high">High</option>
                            <option value="critical">Critical</option>
                        </select>
                        <label for="priority" class="form-label">Priority</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control rounded-3 pt-3" id="dueDate" name="dueDate"></input>
                        <label for="dueDate" class="form-label">Due Date</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 bg-info" style="color:white" type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
      </div>

<!-- End of bootstrap model -->


    <!-- <section  class="create-project">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <h2>Create a New Project</h2>
                <form action="/schedule/createProject" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn bg-info" style="color:white" value="Upload">Submit</button>
                </form>
            </div>
        </div>
    </section> -->

    <!-- <section id="add-task" class="create-task">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <h2>Create a New Task</h2>
                <form action="/schedule/createTask" method="POST">
                    <div class="mb-3">
                        <label for="projectId" class="form-label">Project</label>
                        <select class="form-control" id="projectId" name="projectId">
                            <option label=" "></option>
                            
                            !!!!!FOR LOOP -- ADD BACK IF NEEDED!!!!

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="assignedTo" class="form-label">Assigned To</label>
                        <select class="form-control" id="assignedTo" name="assignedTo">
                            <option label=" "></option>


                            !!!!!FOR LOOP -- ADD BACK IF NEEDED!!!!!


                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="priority" class="form-label">Priority</label>
                        <select class="form-control" id="priority" name="priority">
                            <option value="low">Low</option>
                            <option value="medium" selected>Medium</option>
                            <option value="high">High</option>
                            <option value="critical">Critical</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="dueDate" class="form-label">Due Date</label>
                        <input type="date" class="form-control" id="dueDate" name="dueDate">
                    </div>
                    <button type="submit" class="btn bg-info" style="color:white" value="Upload">Submit</button>
                </form>
            </div>
        </div>      
    </section>   -->
</main>
<%- include('partials/footer') -%>