<%- include('partials/header') -%>
<main>
    <section class="task-list">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <span><h2><%= user.name %>'s Task List</h2>
                </span>

                <% projects.forEach((project, index) => { %>
                    <% const projectTasks = tasks.filter(task => task.status === "To Do" && task.projectId && task.projectId._id.toString() === project._id.toString()); %>
                    <% if(projectTasks.length > 0) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Task Title</th>
                            <th>Project</th>
                            <th>Created By</th>
                            <th>Priority</th>
                            <th>Due Date</th>
                            <th>Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% projectTasks.forEach((task, taskIndex) => { %>
                        <tr>
                            <td><%= task.title %></a></td>
                            <td><%= task.projectId.title %></td>
                            <td><%= task.createdBy.name %></td>
                            <td><%= task.priority %></td>
                            <td><%= task.dueDate.toLocaleDateString('en-US') %></td>

                            <td>
                                <form class="completion-form" action="/schedule/completeTask/<%= task.id %>" method="POST">
                                    <input type="hidden" name="taskId" value="<%= task.id %>">
                                    <input class="check-box" type="checkbox" name="status" value="on" <% task.status === "Completed" ? "checked": "" %> onchange="this.form.submit()">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" value="<%= task.description %>" display="none" class="update-task">
                                <form  id="updated-description-form" action="/schedule/updateTaskDesc/<%= task.id %>" method="POST">
                                    <div class="task">
                                        <p display="block" class="task-description" value="<%= task.description %>"><%= task.description %></p>
                                        <input type="hidden" name="taskId" value="<%= task.id %>">
                                        <textarea id="edit-text" class="task-input w-100 mb-2 rounded-3" name="description" style="display: none;" value="<%= task.id %>"></textarea>
                                        <button class="save-button w-20 mb-2 btn btn-sm rounded-3 bg-info" style="color:white; display: none;" type="submit">Save</button>
                                        <button class="exit-button w-20 mb-2 btn btn-sm rounded-3 bg-info" style="color:white; display: none;" type="submit">Exit</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <% }); %>  
                    </tbody>
                </table>
                 <% } %>
                <% }); %>
            </div>
        </div>
    </section>

    <section class="completed-tasks">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <span><h2><%= user.name %>'s Completed Task List</h2>
                </span>

                <% projects.forEach((project, index) => { %>
                    <% const projectTasks = tasks.filter(task => task.status === "Completed" && task.projectId && task.projectId._id.toString() === project._id.toString()); %>
                    <% if(projectTasks.length > 0) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Task Title</th>
                            <th>Project</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% projectTasks.forEach((task, taskIndex) => { %>
                        <tr>
                            <td><%= task.title %></a></td>
                            <td><%= task.projectId.title %></td>
                            <td>
                                <form class="move-back" action="/schedule/completeTask/<%= task.id %>" method="POST">
                                    <input type="hidden" name="taskId" value="<%= task._id %>">
                                    <input class="check-box" type="checkbox" name="status" value="<%= task.status === 'Completed' ? 'off' : 'on' %>" <%= task.status === "Completed" ? "checked": "" %> onchange="this.form.submit()">
                                </form>
                            </td>
                        </tr>
                    
                        <% }); %>  
                    </tbody>
                </table>
                 <% } %>
                <% }); %>
            </div>
        </div>
    </section>

    <section id="all-projects">
        <div class="container mt-5">
            <h2 class="text-center">List of all Open Projects</h2>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <% for(let j = 0; j < users.length; j++){ %>
                            <div class="col-md-4 mb-4">
                                <h3 class="text-center"><%= users[j].name %>'s</h3>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Project</th>
                                                <th>Task</th>
                                                <th>Assigned To</th>
                                                <th>Due Date</th>
                                            </tr>
                                        </thead>
                                        <tbody class="drop-zone" data-user-id="<%= users[j]._id %>">
                                            <% for(let i = 0; i < allTasks.length; i++){ %>
                                                <% if(allTasks[i].status === "To Do" && allTasks[i].assignedTo.name === users[j].name){ %>
                                                    <tr class="drag-text" draggable="true" data-task-id="<%= allTasks[i]._id %>" data-user-id="<%= users[j]._id %>">
                                                        <td><%= allTasks[i].projectId.title %></td>
                                                        <td><%= allTasks[i].title %></td>
                                                        <td><%= allTasks[i].assignedTo.name %></td>
                                                        <td><%= allTasks[i].dueDate.toLocaleDateString('en-US') %></td>
                                                    </tr>
                                                <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <% if ((j + 1) % 3 === 0) { %> 
                            </div><div class="row">
                            <% } %>
                        <% } %>
                    </div>
                </div>         
            </div>
        </div>
    </section>

    

    <!-- bootstrap modal for adding a project and creating a task -->
    <div id="add-project" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow create-project">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Add a New Project</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                <form action="/schedule/createProject" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3 pt-3" id="title" name="title" placeholder="Project Title">
                        <label for="title" class="form-label">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control rounded-3 pt-3" id="description" name="description"></textarea>
                        <label for="description" class="form-label">Description</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 bg-info" style="color:white" type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
      </div>

      <div id="add-task" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow create-task">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Add a New Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                <form action="/schedule/createTask" method="POST">
                    <div class="form-floating mb-3">
                        <select class="form-control rounded-3 pt-3" id="projectId" name="projectId">
                            <option label=" "></option>
                            <% for(let i = 0; i < projects.length; i++){ %>
                                <option value="<%= projects[i]._id %>"><%= projects[i].title %></option>
                            <% } %>
                        </select>
                        <label for="projectId" class="form-label">Project</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control rounded-3 pt-3" id="title" name="title"></input>
                        <label for="title" class="form-label">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control rounded-3 pt-3" id="description" name="description"></textarea>
                        <label for="description" class="form-label">Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control rounded-3 pt-3" id="assignedTo" name="assignedTo">
                            <option label=" "></option>
                            <% for(let i = 0; i < users.length; i++){ %>
                                <option value="<%= users[i]._id %>"><%= users[i].name %></option>
                            <% } %>
                        </select>
                        <label for="assignedTo" class="form-label">Assigned To</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control rounded-3 pt-3" id="priority" name="priority">
                            <option value="low">Low</option>
                            <option value="medium" selected>Medium</option>
                            <option value="high">High</option>
                            <option value="critical">Critical</option>
                        </select>
                        <label for="priority" class="form-label">Priority</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control rounded-3 pt-3" id="dueDate" name="dueDate"></input>
                        <label for="dueDate" class="form-label">Due Date</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 bg-info" style="color:white" type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
      </div>
<!-- End of bootstrap model -->

</main>
<%- include('partials/footer') -%>